<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        height: 250px;
        width: 100%;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://jovian-careers-website-1.caiozendron.repl.co/static/sampa2.jpg" >  
    <div class="container">
      <h1 class="text-center mt-4 mb-4">
        {{company_name}} Careers
      </h1>  
      <h2 class="text-center mt-4 mb-4">About Jovian</h2>
      <div class="row" style="margin-bottom:40px;">
        <div class="col-md-6">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/money.jpg" style="height:280px; border-radius:15px;">
        </div>
      </div>  
  <h2 class="text-center mt-4 mb-4">Job Openings</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:caio.zendron@gmail.com?subject=Pergunta%20sobre%20vaga&body=Nome%3A%20%3Cinsira%20seu%20nome%20aqui%3E%0D%0A%0D%0AMotivo%20do%20contato%3A%20%3Cdescreva%20o%20motivo%20do%20contato%20aqui%3E%0D%0A%0D%0A---------------------------------------------">Chama!</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>